.recommend{
    text-align: center;
}
.problem-index {
    padding: 6px 10px;
    background-color: rgb(145, 44, 200);
    font-weight: bold;
    color: white;
    margin-right: 5px;
    border-radius:5px;
}
button{
    background-color: olivedrab;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.dark-mode {
    background: #121212;

}